/* header共通項目のCSS */

#header_top{
    width: 100%;
    height: 50px;
    top: 0;
    background-color: rgb(27, 20, 20);
}

#header_top p {
    text-align: right;
    float: right;
    color: #ffffff;
    margin-right: 40px;
    font-size: 20px;
}

#header_center{
    position: relative;
    width: 100%;
    height: 70px;
    top: 0;
    text-align: center;

    background-color: #091d6e;
    background-image: linear-gradient(90deg, rgba(65, 65, 74, 0.5) 50%, transparent 50%),
                    linear-gradient(rgba(0, 0, 0, 0.5) 50%, transparent 50%);
    background-size: 20px 20px;
}

#header_center p {
    text-align: center; 
    font-size: 40px;
    float: none; 
    display: inline-block; 
    color: #ffffff;
    margin-right: 20px;
    white-space: nowrap; 
}

#header_in_center{
    text-align: center;
    width: 200px;
    height: 100%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signup_img {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}
