/* header共通項目のCSS */

#header_top{
  width: 100%;
  height: 50px;
  top: 0;
  background-color: rgb(206 206 206 / 74%);
}

#header_top p {
  text-align: right;
  float: right;
  color: #ffffff;
  margin-right: 40px;
  font-size: 20px;
}

#header_center{
  position: relative;
  width: 100%;
  height: 70px;
  top: 0;
  text-align: center;

  background-color: #091d6e;
  background-image: linear-gradient(90deg, rgba(65, 65, 74, 0.5) 50%, transparent 50%),
                  linear-gradient(rgba(0, 0, 0, 0.5) 50%, transparent 50%);
  background-size: 20px 20px;
}

#header_center p {
  text-align: center; 
  font-size: 35px;
  float: none; 
  display: inline-block; 
  color: #ffffff;
  margin-right: 20px;
  white-space: nowrap; 
}

#header_in_left{
  text-align: center;
  width: 200px;
  height: 100%;


  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);

}

#header_in_right{
  text-align: center;
  width: 200px;
  height: 100%;


  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

#header_in_center{
  text-align: center;
  width: 200px;
  height: 100%;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  

}

#signup_img {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}



#quiz_search{
  margin-top: 10px;
  width: 100%;
  height: 80px;
  text-align: center;
}


/* 問題ボタン要素 */
.btn,
a.btn,
button.btn {
font-size: 1.6rem;
font-weight: 700;
line-height: 1.5;
position: relative;
display: inline-block;
padding: 1rem 4rem;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-transition: all 0.3s;
transition: all 0.3s;
text-align: center;
vertical-align: middle;
text-decoration: none;
letter-spacing: 0.1em;
color: #212529;
border-radius: 0.5rem;
}



.btn-border-gradient-wrap {
display: inline-block;

padding: 0.2rem;

border-radius: 0.5rem;
}

.btn-border-gradient-wrap--gold {
background-image: -webkit-linear-gradient(
  315deg,
  #704308 0%,
  #ffce08 37%,
  #fefeb2 47%,
  #fafad6 50%,
  #fefeb2 53%,
  #e1ce08 63%,
  #704308 100%
);
background-image: linear-gradient(
  135deg,
  #704308 0%,
  #ffce08 37%,
  #fefeb2 47%,
  #fafad6 50%,
  #fefeb2 53%,
  #e1ce08 63%,
  #704308 100%
);
}

.btn-border-gradient-wrap--gold:hover a.btn {
text-shadow: 0 0 15px rgba(250, 250, 214, 0.5),
  0 0 15px rgba(250, 250, 214, 0.5), 0 0 15px rgba(250, 250, 214, 0.5),
  0 0 15px rgba(250, 250, 214, 0.5);
}

a.btn-border-gradient {
font-size: 2rem;
background: #000;
}

.btn-text-gradient--gold {
font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
  "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;

background: -webkit-gradient(
  linear,
  left bottom,
  left top,
  from(#ffffdb),
  to(#a16422)
);

background: -webkit-linear-gradient(bottom, #ffffdb, #a16422);

background: linear-gradient(to top, #ffffdb, #a16422);
-webkit-background-clip: text;

-webkit-text-fill-color: transparent;
}